p {
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f7f6;
    color: #333;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    grid-column: 1 / -1;
    background-color: #004d40;
    padding: 1rem;
    border-radius: 8px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #004d40;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    display: block;
    padding: 10px 20px;
}

nav a:hover {
    color: #ffca28;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    text-align: center;
    max-width: 800px;
    margin: auto;
}

h1 {
    color: #004d40;
    margin-bottom: 20px;
    border-bottom: 2px solid #ffca28;
    display: inline-block;
    padding-bottom: 5px;
}

main img {
    border-radius: 50%;
    border: 5px solid #004d40;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    width: 200px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    height: auto;
    padding: 10px
}

main img:hover {
    transform: scale(1.05);
}

main p {
    text-align: left;
    font-size: 1.1rem;
    color: #555;
}

aside {
    background-color: #fffde7;
    padding: 20px;
    border-radius: 8px;
    border-left: 5px solid #d32f2f;
    height: fit-content;
    width: 300px;
    margin: 20px auto;
    color: #333;
    text-align: center;
}

aside h2 {
    color: #d32f2f;
    margin-bottom: 10px;
}

aside img {
    width: 200px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

footer {
    grid-column: 1 / -1;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: #777;
    border-top: 1px solid #ccc;
    margin-top: 50px
}

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
    }

    aside {
        order: 2;
    }
}